body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #231709;/*#3A1E0F; /*#4A2512;*/
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url('https://i.imgur.com/R764mJK.jpg');
  /*background-image: url('../images/background.jpg');*/
  height: 100%;
}

.header-logo-org {
  height: 70px;
  width: 302px;
}

.center {
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
  padding: 0 3em;
  background: white;
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.7);
}

.main-content{

}

.scroll-to-top {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.scroll-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
.scroll-to-top:hover {
  cursor: pointer;
  background-color: #333;
}
.scroll-to-top:active {
  background-color: #555;
}
.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}
.sticky + .container {
  padding-top: 2em;
}

@media (max-width: 992px) {
  .header-logo-org img {
    height: 30px;
    width: 112px;
  }
}

@media (min-width: 1300px) {
  .display-4 {
    font-size: 3.5rem;
  }
}

@media (min-width: 550px) and (max-width: 1299px){
  .display-4 {
    font-size: 2.5rem;
  }
}

@media (min-width: 350px) and (max-width: 549px) {
  .display-4 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}